# Chapter 3


First we must make sure that mongod is running by
running the mongo shell to ensure you can connect

so we run "rubymongo.rb"

In [1]:
require './rubymongo'

D, [2019-01-22T12:58:48.597416 #10823] DEBUG -- : MONGODB | EVENT: #<Mongo::Monitoring::Event::TopologyOpening topology=Unknown>
D, [2019-01-22T12:58:48.597789 #10823] DEBUG -- : MONGODB | Topology type 'unknown' initializing.
D, [2019-01-22T12:58:48.598205 #10823] DEBUG -- : MONGODB | EVENT: #<Mongo::Monitoring::Event::ServerOpening address=127.0.0.1:27017 topology=Unknown>
D, [2019-01-22T12:58:48.598574 #10823] DEBUG -- : MONGODB | Server 127.0.0.1:27017 initializing.
D, [2019-01-22T12:58:48.601039 #10823] DEBUG -- : MONGODB | EVENT: #<Mongo::Monitoring::Event::TopologyChanged prev=Unknown new=Single>
D, [2019-01-22T12:58:48.601518 #10823] DEBUG -- : MONGODB | Topology type 'unknown' changed to type 'single'.
D, [2019-01-22T12:58:48.601974 #10823] DEBUG -- : MONGODB | EVENT: #<Mongo::Monitoring::Event::ServerDescriptionChanged>
D, [2019-01-22T12:58:48.605813 #10823] DEBUG -- : MONGODB | Server description for 127.0.0.1:27017 changed from 'unknown' to 'standalone'.
D, [2019-01-22T12:58:48.606385 #10823] DEBUG -- : MONGODB | EVENT: #<Mongo::Monitoring::Event::TopologyChanged prev=Single new=Single>
D, [2019-01-22T12:58:48.606850 #10823] DEBUG -- : MONGODB | There was a change in the members of the 'single' topology.
connected!

true

We must Connect to 'irb'

In [12]:
require 'irb'

true

insert Data to User Collection

In [14]:
id = $users.insert_one({"last_name" => "mtsouk"})

#<Mongo::Operation::Insert::Result:0x47120786489260 documents=[{"n"=>1, "ok"=>1.0}]>

insert Data to User Collection

In [16]:
smith = {"last_name" => "smith", "age" => 30}

{"last_name"=>"smith", "age"=>30}

insert Query to jones variable

In [17]:
jones = {"last_name" => "jones", "age" => 40}

{"last_name"=>"jones", "age"=>40}

insert smith id to variable

In [18]:
smith_id = $users.insert_one(smith)

#<Mongo::Operation::Insert::Result:0x47120787404980 documents=[{"n"=>1, "ok"=>1.0}]>

In [19]:
jones_id = $users.insert_one(jones)

#<Mongo::Operation::Insert::Result:0x47120787573780 documents=[{"n"=>1, "ok"=>1.0}]>

find collections that are older than 20

In [20]:
$users.find( :age => {"$gt" => 20}).to_a

[{"_id"=>BSON::ObjectId('5c475cc468238c2a470c82de'), "last_name"=>"smith", "age"=>30}, {"_id"=>BSON::ObjectId('5c475ccf68238c2a470c82df'), "last_name"=>"jones", "age"=>40}]

In [21]:
$users.find({"last_name" => "smith"}).to_a

[{"_id"=>BSON::ObjectId('5c475cc468238c2a470c82de'), "last_name"=>"smith", "age"=>30}]

In [22]:
$users.find({"age" => {"$gt" => 30}}).to_a

[{"_id"=>BSON::ObjectId('5c475ccf68238c2a470c82df'), "last_name"=>"jones", "age"=>40}]

In [23]:
$users.find({"age" => {"$gt" => 30}})

#<Mongo::Collection::View:0x47120788329920 namespace='tutorial.users' @filter={"age"=>{"$gt"=>30}} @options={}>

In [24]:
cursor = $users.find({"age" => {"$gt" => 30}})

#<Mongo::Collection::View:0x47120790441980 namespace='tutorial.users' @filter={"age"=>{"$gt"=>30}} @options={}>

In [25]:
cursor.each do |doc|
puts doc["last_name"]
end

jones

#<Enumerator: #<Mongo::Cursor:0x47120788457100 @view=#<Mongo::Collection::View:0x47120790441980 namespace='tutorial.users' @filter={"age"=>{"$gt"=>30}} @options={}>>:each>

# Updates and deletes

a query selector and an update document

In [26]:
$users.find({"last_name" => "smith"}).update_one({"$set" => {"city" =>"Chicago"}})

#<Mongo::Operation::Update::Result:0x47120790479920 documents=[{"n"=>1, "nModified"=>1, "ok"=>1.0}]>

In [27]:
$users.find({"last_name" => "smith"}).to_a

[{"_id"=>BSON::ObjectId('5c475cc468238c2a470c82de'), "last_name"=>"smith", "age"=>30, "city"=>"Chicago"}]

if you actually want to apply the update to all smith documents, you must
replace the update_one with the update_many method:

In [28]:
$users.find({"last_name" => "smith"}).update_many({"$set" => {"city" =>
"Chicago"}})

#<Mongo::Operation::Update::Result:0x47120790583300 documents=[{"n"=>1, "nModified"=>0, "ok"=>1.0}]>

removing all user documents where the age attribute is greater than or equal to 40

In [29]:
$users.find({"age" => {"$gte" => 40}}).delete_one

#<Mongo::Operation::Delete::Result:0x47120790586000 documents=[{"n"=>1, "ok"=>1.0}]>

If you want to delete all documents matching the criteria

In [30]:
$users.find({"age" => {"$gte" => 40}}).delete_many

#<Mongo::Operation::Delete::Result:0x47120790602140 documents=[{"n"=>0, "ok"=>1.0}]>

With no arguments, the drop method deletes all remaining document

# Database commands

In [31]:
$admin_db = $client.use('admin')
$admin_db.command({"listDatabases" => 1})

#<Mongo::Operation::Result:0x47120790631000 documents=[{"databases"=>[{"name"=>"api_bots", "sizeOnDisk"=>49152.0, "empty"=>false}, {"name"=>"banner", "sizeOnDisk"=>73728.0, "empty"=>false}, {"name"=>"customer", "sizeOnDisk"=>172032.0, "empty"=>false}, {"name"=>"imongo", "sizeOnDisk"=>65536.0, "empty"=>false}, {"name"=>"local", "sizeOnDisk"=>86016.0, "empty"=>false}, {"name"=>"mongo", "sizeOnDisk"=>106496.0, "empty"=>false}, {"name"=>"numbers", "sizeOnDisk"=>106496.0, "empty"=>false}, {"name"=>"terminator", "sizeOnDisk"=>40960.0, "empty"=>false}, {"name"=>"test", "sizeOnDisk"=>4747264.0, "empty"=>false}, {"name"=>"tools", "sizeOnDisk"=>122880.0, "empty"=>false}, {"name"=>"tutorial", "sizeOnDisk"=>73728.0, "empty"=>false}], "totalSize"=>5644288.0, "ok"=>1.0}]>

To drop a collection and all its indexes, use the drop_collection method:

In [32]:
db = $client.use('tutorial')

#<Mongo::Client:0x70292609500080 cluster=127.0.0.1:27017>

In [33]:
db['users'].drop

#<Mongo::Operation::Result:0x47120790651760 documents=[{"ns"=>"tutorial.users", "nIndexesWas"=>1, "ok"=>1.0}]>